<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyFg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyFg.Properties.Settings>
            <setting name="InputDirectory" serializeAs="String">
                <value>Input</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>Output</value>
            </setting>
            <setting name="Entry_WithLable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Entry_WithPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Parent" serializeAs="String">
                <value>this</value>
            </setting>
            <setting name="LabelEnding" serializeAs="String">
                <value>:</value>
            </setting>
        </MyFg.Properties.Settings>
    </userSettings>
</configuration>