<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myCg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <myCg.Properties.Settings>
            <setting name="TextSuffix" serializeAs="String">
                <value>:</value>
            </setting>
            <setting name="MnuGenFromList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MnuGenMainMenuName" serializeAs="String">
                <value>mnuMasterEntry</value>
            </setting>
        </myCg.Properties.Settings>
    </userSettings>
</configuration>