/NMG.App/bin/Debug

/NMG.App/obj/Debug

/NMG.Core/bin/Debug

/RazorCg/bin/Debug

/RazorCg/obj/Debug

/NMG.Core/obj/Debug
/NMG.App/bin
/NMG.UI/bin
/NMG.UI/obj
/Build
/NMG.suo
/Release/NGM.Console.exe.config
/Release/NGM.Console.vshost.exe
/Release/NGM.Console.vshost.exe.config
/Release/NGM.Console.vshost.exe.manifest
/*.suo
