<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataTools.Properties.Settings.Con"
             connectionString="Data Source=lenovo-pc;Initial Catalog=stock;Persist Security Info=True;User ID=sa;Password=patan;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <DataTools.Properties.Settings>
            <setting name="LoadFile" serializeAs="String">
                <value>D:\Inbox\Stock\proddata\Shr\ShareHistory.csv</value>
            </setting>
        </DataTools.Properties.Settings>
    </userSettings>
</configuration>